backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
blessings==1.6
bpython==0.14.2
certifi==2015.9.6.2
cffi==1.2.1
characteristic==14.3.0
cryptography==1.0.1
cssselect==0.9.1
curses==2.2
curtsies==0.1.19
decorator==4.0.4
enum34==1.0.4
Flask==0.10.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
functools32==3.2.3.post2
greenlet==0.4.9
gunicorn==19.4.5
idna==2.0
ipaddress==1.0.14
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jieba==0.37
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
lxml==3.4.4
MarkupSafe==0.23
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.0.6
path.py==8.1.2
pickleshare==0.5
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
Pygments==2.0.2
pyOpenSSL==0.15.1
pyreadline==2.1
pyzmq==15.0.0
qtconsole==4.1.0
queuelib==1.4.2
requests==2.8.1
Scrapy==1.0.3
selenium==2.47.3
service-identity==14.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.9.0
splinter==0.7.3
SQLAlchemy==1.0.12
suds==0.4
tornado==4.3
traitlets==4.0.0
Twisted==15.4.0
w3lib==1.12.0
Werkzeug==0.11.5
xlrd==0.9.4
xlwt==1.0.0
zope.interface==4.1.2
